
@{
    ViewBag.Title = "Detail";


}

<h2>Detail</h2>

<h1> @ViewBag.seriesTitle</h1>
<h2> issue #@ViewBag.issueNumber</h2>


<h5> Description</h5>
<div>  @Html.Raw( ViewBag.description)</div>

<h5> Artist</h5>
<div>

        @foreach ( var artist in ViewBag.artists)
        {
            <p> @artist</p>
        }
 

    </div>


